<
style type    ="text /css"><!--#bott {
	
}

#bott .time {
	border: 0 red solid;
	width: 100%;
	background-color: #295D89;
	color: white;
	font-size: 13px;
	height: 25px;
	font-family: Arial helvetica sans-serif;
}
-->
</
style
>